<!DOCTYPE html>
<html lang="vi-VN">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, minimal-ui" />
    <!-- Author -->
    <title>Trần Ngọc Đức</title>
    <meta name="Author" content="Trần Ngọc Đức" />
    <meta name="Description" content="Trần Ngọc Đức Curriculum Vitae" />
    <link rel="icon" type="image/x-icon" href="assets/media/favicon.ico" sizes="16x16" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/media/favicon.ico" sizes="16x16" />
    <!-- Libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script data-main="assets/angular/config" src="assets/libs/require.min.js"></script>
</head>

<body class="clearfix">
    <div class="container-fluid" data-ng-controller="TaskController">
        <div class="row">
            <div class="col-8">
                <div class="card" data-ng-repeat="task in tasks" style="margin-top: 30px;">
                    <div class="card-header">
                        <span data-ng-bind="task.NameCategory"></span>
                        <a href="#" class="btn btn-primary float-right">add</a>
                    </div>
                    <table class="card-body table table-hover table-sm table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>TaskName</th>
                                <th>TaskType</th>
                                <th>TaskCategory</th>
                                <th>TaskTimeline</th>
                                <th>NewBuild</th>
                                <th>AffiliateLink</th>
                                <th>HelpText</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in task.Task track by $index">
                                <th scope="row" data-ng-bind="$index + 1">1</th>
                                <td data-ng-bind="item.TaskName"></td>
                                <td data-ng-bind="item.TaskType"></td>
                                <td data-ng-bind="item.TaskCategory"></td>
                                <td data-ng-bind="item.TaskTimeline"></td>
                                <td data-ng-bind="item.NewBuild"></td>
                                <td data-ng-bind="item.AffiliateLink"></td>
                                <td data-ng-bind="item.HelpText"></td>
                                <td data-ng-bind="item.Active"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-4">
                <pre style="font-size: 11px;">{{tasksJson()}}</pre>
            </div>
        </div>
    </div>
</body>

</html>
