@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=vietnamese');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

@-ms-viewport {
    width: device-width;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    background: #ffffff;
    color: #333333;
    display: none;
    font-family: 'Open Sans', sans-serif;
    height: auto;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    position: relative;
}

.strong {
    font-weight: 600;
}

.title {
    display: block;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    margin: 20px 0px 15px;
    text-transform: uppercase;
}


.sidebar {
    background: #333333;
    color: #ffffff;
    display: block;
    float: left;
    height: 100vh;
    margin-left: 40px;
    padding: 0px;
    position: relative;
    width: 300px;
}

.sidebar .personal.name {
    background: #ffffff;
    color: #000000;
    display: block;
    font-size: 60px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: auto;
}

.sidebar .personal.job {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
}

.sidebar .sidebar-wrapper {
}

.sidebar .informations {
    display: block;
    font-size: 14px;
    text-indent: 5px;
}

.sidebar .type {
    font-weight: 600;
}

.sidebar .type ~ .informations:not(.type) {
    text-indent: 25px;
}

.content {
    display: block;
    float: right;
    height: 100vh;
    overflow: hidden;
    padding: 170px 80px 0px 40px;
    width: calc(100% - 350px);
}

.content-wrapper {
    margin-top: 20px;
}

.article {
    display: block;
    padding-left: 40px;
    padding-right: 15px;
}

.article + .article {
    margin-top: 10px;
}

.article .time {
    clear: right;
    color: rgba(60, 192, 196, 1);
    display: block;
    float: left;
    font-size: 12px;
    line-height: 30px;
    position: relative;
    text-align: left;
    width: 50px;
}

.article + .article .time {
    border-top: 1px solid rgba(60, 192, 196, 0.3);
}

.article .com {
    display: block;
    float: left;
    font-size: 11px;
    letter-spacing: 0.3px;
    line-height: 30px;
    text-transform: uppercase;
    width: calc(100% - 50px);
}

.article + .article .com {
    border-top: 1px solid rgba(60, 192, 196, 0.3);
}

.article .job {
    clear: left;
    color: rgba(60, 192, 196, 1);
    display: block;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    width: 170px;
}

.article .experience {
    clear: right;
    display: block;
    float: right;
    font-size: 13px;
    width: calc(100% - 170px);
}

.article .experience span {
    display: block;
}
