@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=vietnamese');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

@-ms-viewport {
    width: device-width;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    background: #222222;
    color: #efefef;
    display: block;
    font-family: 'Open Sans', sans-serif;
    height: auto;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    position: relative;
}

.strong {
    font-weight: 600;
}

.sidebar {
    background: rgba(7, 71, 166, 0.3);
    border-radius: 25px;
    display: block;
    float: left;
    height: calc(100vh - 40px);
    margin: 20px 30px 20px 20px;
    padding: 30px 10px 0px;
    width: 300px;
}

.sidebar h1 {
    color: rgba(60, 192, 196, 1);
    display: block;
    line-height: 50px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
}

.sidebar h4 {
    display: block;
    font-weight: 400;
    margin: 0px;
    text-align: center;
    text-transform: capitalize;
}

.sidebar .title {
    color: rgba(60, 192, 196, 1);
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0px 10px;
}

.sidebar .translate {
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
}

.sidebar .informations {
    display: block;
    font-size: 14px;
    text-indent: 5px;
}

.sidebar .type {
    font-weight: 600;
}

.sidebar .type ~ .informations:not(.type) {
    text-indent: 25px;
}

.content {
    display: block;
    float: right;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    width: calc(100% - 350px);
}

.content h2 {
    color: rgba(60, 192, 196, 1);
    display: block;
    font-weight: 400;
    line-height: 50px;
    margin: 0px;
    text-align: center;
    text-transform: capitalize;
}

.content h2 span + span:before {
    content: '/ ';
}

.content h5 {
    display: block;
    font-style: italic;
    font-weight: 400;
    margin: 0px;
    text-align: center;
    text-transform: capitalize;
}

.content h5 span + span:before {
    content: '/ ';
}

.content-wrapper {
    border: 1px solid rgba(7, 71, 166, 1);
    border-radius: 10px;
    margin-top: 15px;
}

.article {
    display: block;
    padding-left: 40px;
    padding-right: 15px;
}

.article + .article {
    margin-top: 10px;
}

.article .time {
    clear: right;
    color: rgba(60, 192, 196, 1);
    display: block;
    float: left;
    font-size: 12px;
    line-height: 30px;
    position: relative;
    text-align: left;
    width: 50px;
}

.article + .article .time {
    border-top: 1px solid rgba(60, 192, 196, 0.3);
}

.article .time-icon {
    background: #222222;
    color: rgba(7, 71, 166, 1);
    display: block;
    font-size: 20px;
    left: 0px;
    position: absolute;
    top: 0px;
    transform: translate(-43px, 0px) rotate(-90deg);
}

.article .com {
    display: block;
    float: left;
    font-size: 11px;
    letter-spacing: 0.3px;
    line-height: 30px;
    text-transform: uppercase;
    width: calc(100% - 50px);
}

.article + .article .com {
    border-top: 1px solid rgba(60, 192, 196, 0.3);
}

.article .job {
    clear: left;
    color: rgba(60, 192, 196, 1);
    display: block;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    width: 170px;
}

.article .experience {
    clear: right;
    display: block;
    float: right;
    font-size: 13px;
    width: calc(100% - 170px);
}

.article .experience span {
    display: block;
}
